PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=beauty_db
DB_USER=beauty_app_user
DB_PASSWORD=usa_una_clave_local_segura
JWT_SECRET=usa_una_clave_de_al_menos_32_caracteres
GOOGLE_CLIENT_ID=tu_google_client_id.apps.googleusercontent.com
WOMPI_WEBHOOK_SECRET=tu_secreto_de_webhook_wompi
ALLOW_DEBUG_ROUTES=false
AUTO_APPROVE_PROVIDERS=false
